.App {
  text-align: center;
}

.burgermenu {
  float: right;
}

.App-logo {
  height: 80px;
  float: left;
}

.App-header {
  background-color: #dedede;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 800px) {
  .burgermenu {
    visibility: hidden;
  }
}